# This file provides an overview of responsibilities in this repository.

# Please note that this file does not represent all contributions to the code. What persons and organizations
# actually contributed to each file can be seen on GitHub and is documented in the license headers.

# Linked persons with write permissions are automatically added as reviewers when a pull request is opened.

# Each line is a file pattern followed by one or more contact persons. The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

CONTRIBUTING.md @juliapampus @alexandrudanciu @mspiekermann
contribution_categories.md @paullatzelsperger @juliapampus
LICENSE @alexandrudanciu @mspiekermann
NOTICE.md @alexandrudanciu @mspiekermann
onboarding.md @paullatzelsperger
openapi.md @paullatzelsperger
pr_etiquette.md @paullatzelsperger
SECURITY.md @alexandrudanciu @mspiekermann
styleguide.md @paullatzelsperger

.github/actions/ @paullatzelsperger
.github/ISSUE_TEMPLATE @juliapampus @paullatzelsperger
.github/workflows/ @paullatzelsperger @ndr-brt

/buildSrc/ @paullatzelsperger

/core/common/base/ @jimmarino @paullatzelsperger @ndr-brt
/core/common/boot/ @jimmarino @paullatzelsperger
/core/common/policy-engine/ @jimmarino @ronjaquensel
/core/common/policy-evaluator/ @jimmarino @juliapampus @ronjaquensel
/core/common/state-machine/ @ndr-brt

/data-protocols/ids/ @ronjaquensel @juliapampus
/data-protocols/ids/ids-jsonld-serdes/ @juliapampus

/docs/ @juliapampus

/extensions/common/api/ @ndr-brt @paullatzelsperger
/extensions/common/aws/ @paullatzelsperger
/extensions/common/azure/ @paullatzelsperger
/extensions/common/configuration/ @jimmarino
/extensions/common/events/ @ndr-brt
/extensions/common/http/ @paullatzelsperger
/extensions/common/iam/decentralized-identity/ @paullatzelsperger
/extensions/common/iam/oauth2/ @bscholtes1A
/extensions/common/junit/ @paullatzelsperger
/extensions/common/micrometer/ @jimmarino
/extensions/common/monitor/ @jimmarino
/extensions/common/sql/ @ndr-brt @paullatzelsperger
/extensions/common/transaction/ @jimmarino
/extensions/common/vault/ @paullatzelsperger
/extensions/control-plane/ @paullatzelsperger
/extensions/data-plane/ @bscholtes1A @jimmarino
/extensions/data-plane-selector/ @paullatzelsperger
/extensions/federated-catalog/ @paullatzelsperger

/launchers/data-plane-server/ @bscholtes1A
/launchers/dpf-selector/ @paullatzelsperger
/launchers/ids-connector/ @ronjaquensel

/resources/ @paullatzelsperger

/samples/01-basic-connector/ @paullatzelsperger
/samples/02-health-endpoint/ @paullatzelsperger
/samples/03-configuration/ @paullatzelsperger
/samples/04.0-file-transfer/ @ronjaquensel
/samples/04.1-file-transfer-listener/ @paullatzelsperger
/samples/04.2-modify-transferprocess/ @paullatzelsperger
/samples/04.3-open-telemetry/ @jimmarino
/samples/05-file-transfer-cloud/ @paullatzelsperger
/samples/other/ @paullatzelsperger

/system-tests/ @ndr-brt