# This file provides an overview of responsibilities in this repository.

# Please note that this file does not represent all contributions to the code. What persons and organizations
# actually contributed to each file can be seen on GitHub and is documented in the license headers.

# Linked persons with write permissions are automatically added as reviewers when a pull request is opened.

# Each line is a file pattern followed by one or more contact persons. The last matching pattern has the most precedence.
# For more details, read the following article on GitHub: https://help.github.com/articles/about-codeowners/.

CONTRIBUTING.md @MoritzKeppler @juliapampus @alexandrudanciu @mspiekermann
contribution_categories.md @paullatzelsperger @mspiekermann
LICENSE @MoritzKeppler @juliapampus @alexandrudanciu @mspiekermann
NOTICE.md @alexandrudanciu @mspiekermann
onboarding.md @paullatzelsperger
openapi.md @paullatzelsperger
pr_etiquette.md @paullatzelsperger
SECURITY.md @alexandrudanciu @mspiekermann
styleguide.md @paullatzelsperger

.github/actions/ @algattik
.github/ISSUE_TEMPLATE @juliapampus @paullatzelsperger
.github/workflows/ @paullatzelsperger @ndr-brt @algattik @ouphi

/buildSrc/ @paullatzelsperger @marcgs

/common/state-machine-lib/ @ndr-brt @algattik

/core/base/agent/ @jimmarino
/core/base/policy/ @jimmarino
/core/boot/ @jimmarino @paullatzelsperger
/core/contract/ @jimmarino @juliapampus @ronjaquensel
/core/defaults/ @paullatzelsperger
/core/event/ @ndr-brt
/core/health/ @paullatzelsperger
/core/micrometer/ @algattik
/core/policy/ @jimmarino
/core/security/ @bscholtes1A
/core/transfer/ @jimmarino @bscholtes1A @paullatzelsperger @ndr-brt

/data-protocols/ids/ @ronjaquensel @juliapampus @DominikPinsel @denisneuling
/data-protocols/ids/ids-jsonld-serdes-lib/ @juliapampus

/docs/ @juliapampus

/extensions/api/ @ndr-brt @paullatzelsperger
/extensions/aws/ @paullatzelsperger
/extensions/azure/ @paullatzelsperger
/extensions/catalog/ @paullatzelsperger
/extensions/data-plane/ @bscholtes1A @jimmarino
/extensions/data-plane-selector/ @paullatzelsperger
/extensions/data-plane-transfer/ @bscholtes1A
/extensions/events/ @ndr-brt
/extensions/filesystem/ @jimmarino @paullatzelsperger
/extensions/http/ @paullatzelsperger
/extensions/http-provisioner/ @jimmarino @paullatzelsperger
/extensions/http-receiver/ @bscholtes1A
/extensions/iam/daps/ @bscholtes1A
/extensions/iam/decentralized-identity/ @paullatzelsperger
/extensions/iam/oauth2/ @bscholtes1A
/extensions/jdk-logger-monitor/ @cpeeyush
/extensions/sql/ @bcronin90 @denisneuling @paullatzelsperger
/extensions/transaction/ @jimmarino

/launchers/data-plane-server/ @bscholtes1A
/launchers/dpf-selector/ @paullatzelsperger
/launchers/ids-connector/ @ronjaquensel

/resources/ @paullatzelsperger

/samples/01-basic-connector/ @paullatzelsperger
/samples/02-health-endpoint/ @paullatzelsperger
/samples/03-configuration/ @paullatzelsperger
/samples/04.0-file-transfer/ @ronjaquensel
/samples/04.1-file-transfer-listener/ @algattik
/samples/04.2-modify-transferprocess/ @paullatzelsperger
/samples/04.3-open-telemetry/ @algattik
/samples/05-file-transfer-cloud/ @paullatzelsperger
/samples/other/ @paullatzelsperger

/system-tests/azure-data-factory-tests/ @cpeeyush
/system-tests/azure-tests/ @algattik
/system-tests/e2e-transfer-test/ @ndr-brt
/system-tests/minikube/ @algattik
/system-tests/runtimes/ @algattik
/system-tests/tests/ @algattik

/tooling/ @jimmarino
