name: Build/Test

on: [ push ]

jobs:
  gradle-test:
    runs-on: ubuntu-latest

    services:
      nifi:
        image: apache/nifi
        ports:
          - 8080:8080
          - 8888:8888
      atlas:
        image: sburn/apache-atlas
        ports:
          - 21000:21000
        options: --entrypoint /opt/apache-atlas-2.1.0/bin/atlas_start.py


    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Gradle Test Nifi Integration
        if: ${{ false }} # disabled due to current instability
        env:
          AZ_STORAGE_SAS: ${{ secrets.AZ_STORAGE_SAS }}
          NIFI_API_AUTH: ${{ secrets.NIFI_API_AUTH }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
        run: ./gradlew extensions:transfer:transfer-nifi:check -i

      - name: Gradle Test Core
        env:
          AZ_STORAGE_SAS: ${{ secrets.AZ_STORAGE_SAS }}
          NIFI_API_AUTH: ${{ secrets.NIFI_API_AUTH }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
        run: ./gradlew clean check -x :extensions:catalog:catalog-atlas:check -x :extensions:security:security-azure:check  -x :extensions:transfer:transfer-nifi:check

      - name: Gradle Test Atlas Integration
        env:
          AZ_STORAGE_SAS: ${{ secrets.AZ_STORAGE_SAS }}
          NIFI_API_AUTH: ${{ secrets.NIFI_API_AUTH }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
        run: ./gradlew extensions:catalog:catalog-atlas:check

      - name: Gradle Test Azure Vault Integration
        env:
          AZ_STORAGE_SAS: ${{ secrets.AZ_STORAGE_SAS }}
          NIFI_API_AUTH: ${{ secrets.NIFI_API_AUTH }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
        run: ./gradlew extensions:security:security-azure:check



      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: ./**/test-results/**/*.xml
